* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgba(30, 222, 164, 0.625);
    text-align: center;
    font-family: Arial, sans-serif;
    border: 10px solid rgb(248, 201, 186);
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

#search {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid #333;
    border-radius: 5px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
}

.pokemon-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid black;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pagination {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background: #ffcc00;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

h1 {
    color: black;
    font-family: Arial, sans-serif;
}
